rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /deep-dive-library/{document=**} {
      allow read, write: if true;
    }
  }
}
